.login_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
}

.login_title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 2rem 0 1rem 0;
}
.login_subtitle {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 1rem 0 3rem 0;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  width: 100%;
  height: 2rem;
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

/* .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 1rem;
} */
.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 1rem;
  /* Add the following line to explicitly set border to none */
  border: none;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.btn {
  margin-top: 2rem;
}

.login_btn {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.login_btn:hover {
  background-color: black;
  color: white;
}

.login_register_link {
  text-align: right;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 200;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}
.login_register_link:hover {
  color: #d3d3d3;
}
